{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sqlite3 DB Reader</title>
  <link rel="icon" title="logo" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
  <div class="container">
    <h2>Read Sqlite3 DB</h2>
    {% if user.is_authenticated %}
    <a href="{% url 'heroes:logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'heroes:login' %}">Login</a>
    {% endif %}
    <a href="{% url 'heroes:Landing'  %}">Avengers</a>
    <a href="{% url 'sqlite3reader:Homepage'  %}">Home</a>
    
    {% block content %} {% endblock content %}
  </div>
</body>

</html>